<template>
    <div 
        :class="{accept: active}" 
        class="indicator"/>
</template>

<script>
export default {
  props: {
    active: {
      required: true,
      type: Boolean
    }
  }
};
</script>


<style lang="scss" scoped>
.indicator {
  border-left: 0.25rem solid black;
  height: 5rem;
}

.indicator.accept {
  border-left: 0.25rem solid green;
}
</style>
