<template>
    <div class="indicator-builder">
        <indicator-icon 
            v-for="(isActive, index) in builder" 
            :active="isActive"
            :key="index"/>
    </div>
</template>

<script>
import IndicatorIcon from "@/components/IndicatorIcon";

export default {
  components: {
    IndicatorIcon
  },

  props: {
    builder: {
      required: true,
      type: Array
    }
  },

  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
.indicator-builder {
  display: flex;
}
</style>
