<template>
    <div id="app">        
        <h2>The magic box</h2>
        <div 
            class="magic-box" 
            @click="makeTheMagic"
            @mousemove="makeTheMagic" />

        <h2>All events</h2>
        <indicator-builder :builder="history.plain"/>
        
        <h2>Debounce (leading)</h2>
        <indicator-builder :builder="history.leading"/>
        
        <h2>Debounce (trailing)</h2>
        <indicator-builder :builder="history.trailing"/>
        
        <h2>Throttle</h2>
        <indicator-builder :builder="history.throttle"/>
    </div>
</template>

<script>
import IndicatorBuilder from "@/components/IndicatorBuilder";
import { debounce, throttle } from "lodash";

let iterator;

export default {
  components: {
    IndicatorBuilder
  },

  data() {
    return {
      frequency: 15,

      buffer: {
        plain: false,
        leading: false,
        trailing: false,
        throttle: false
      },

      history: {
        plain: [],
        leading: [],
        trailing: [],
        throttle: []
      }
    };
  },

  mounted() {
    iterator = setInterval(() =>
      Object.keys(this.history).forEach(key => {
        this.history[key].push(this.buffer[key]);

        if (this.history[key].length > 200) this.history[key].shift();

        this.buffer[key] = false;
      })
    );
  },

  beforeDestroy() {
    clearInterval(iterator);
  },

  methods: {
    makeTheMagic() {
      this.triggerPlain();
      this.triggerLeadingDebounce();
      this.triggerTrailingDebounce();
      this.triggerThrottle();
    },

    triggerPlain: function() {
      this.buffer.plain = true;
    },

    triggerLeadingDebounce: debounce(
      function() {
        this.buffer.leading = true;
      },
      500,
      { trailing: false, leading: true }
    ),

    triggerTrailingDebounce: debounce(
      function() {
        this.buffer.trailing = true;
      },
      500,
      { trailing: true, leading: false }
    ),

    triggerThrottle: throttle(function() {
      this.buffer.throttle = true;
    }, 500),

    activateBuffer(key) {
      this.buffer[key] = true;
    }
  }
};
</script>

<style lang="scss" scoped>
.magic-box {
  border: 3px dashed black;
  padding: 3rem 1rem;
}
</style>
